body{
    background: url('background-image.jpg') no-repeat fixed;
    background-size: cover;
}

#h1wala{
  font-size: 8em;
}

#content {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    margin-top: 8px;
    padding-top: 8%; /* Some padding */
    padding-bottom: 8%;
  }