{% extends 'layout.html' %}

{% block body %}
<div class="container1">
    <img src="{{ url_for('static',filename='jb.jpg') }}">
    <div class="content">
        <center>
        <h1>Welcome To Travinder.com</h1>
        <p>
            The one stop destination for all travel lovers and all the wanderers. Making travel planning easy to do
            with the help of machine learning.
        </p>
        </center>
    </div>
</div>
<div class="container2">
    <h2>Get Started!</h2>
    <div class="btn-group special mt-3">
        <button class="btn btn-outline-danger mr-2">Destination</button>
        <button class="btn btn-outline-success">Local</button>
    </div>
</div>
<div class="gridsystem123">
    <div class="container-fluid">
        <div class="row pb-4">
            <div class="col-8 pt-4">
                <h3>
                    Who We Are?
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto amet cupiditate neque nisi architecto
                    ipsum officia, voluptatibus, autem velit atque harum, aliquid perferendis assumenda repellat veniam
                    tempora quos porro tempore.</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='jb.jpg') }}" alt="who we are?" class="img-thumbnail">
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-4">
                <img src="{{ url_for('static', filename='jb.jpg') }}" alt="what we do?" class="img-thumbnail">
            </div>
            <div class="col-8 pt-4">
                <h3>
                    What We Do?
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto amet cupiditate neque nisi architecto
                    ipsum officia, voluptatibus, autem velit atque harum, aliquid perferendis assumenda repellat veniam
                    tempora quos porro tempore.</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-8 pt-4">
                <h3>
                    How We Do It?
                </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto amet cupiditate neque nisi architecto
                    ipsum officia, voluptatibus, autem velit atque harum, aliquid perferendis assumenda repellat veniam
                    tempora quos porro tempore.</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='jb.jpg') }}" alt="How We Do It?" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
{% endblock %}