{% extends 'layout.html' %}

{% block body %}
{% if current_user.is_authenticated %}
{% if current_user.placeliked %}
<div class="container">
    <h1>
        Places Visited
    </h1>
    <div class="row">
        {% for i in current_user.placeliked %}
        <div class="col-lg-3" style="background-color: white; margin: 5px; text-align: center;">
            {{ i }}
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="{{ url_for('delete_places') }}"><button class="btn brn-success">Clear all Places</button></a>
    </div>
</div>
{% else %}
<h3>
    No Places to show
</h3>
{% endif %}
<div class="container">
    <h1>
        Places You Might Like
    </h1>
</div>
<div class="container">
        <form action="" method="POST">
            <div class="form-group">
                {{ forms.select.label }}
                {{ forms.select(class=" form-control form-control-lg ")}}
            </div>
            <div class="form-group">
                {{ forms.submit(class = "btn btn-danger")}}
            </div>
        </form>
</div>
{% else %}
<!-- <div class="container"> -->
<div id="content">
    <center>
        <h1 id="h1wala">Welcome To Traveler.com</h1>
        <p>
            The one stop destination for all travel lovers and all the wanderers. Making travel planning easy to do
            with the help of machine learning.
        </p>
    </center>
</div>
<!-- </div> -->
{% endif %}
{% endblock %}